/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: rgba(0, 0, 40, 1);
  --color-accent: rgba(255, 0, 112, 1);
  --color-text: rgba(241, 178, 206, 1);
  --color-title: rgba(0, 0, 40, 1);
  --main-font: 'IBM Plex mono';
  --gap-card: 20px;
  --fs-main: 18px;
  --color-border-hover: rgba(255, 0, 112, 0.4);
  --bg-image-url: url(../images/cover-image-dark.png);
  --color-button: rgba(255, 0, 112, 1);
  --color-title-text: rgba(255, 0, 112, 1);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
