/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: rgba(0, 0, 40, 1);
  --color-accent: rgba(255, 0, 112, 1);
  --color-text: rgba(241, 178, 206, 1);
  --color-title: rgba(0, 0, 40, 1);
  --main-font: 'IBM Plex mono', sans-serif;
  --gap-card: 20px;
  --fs-main: 18px;
  --color-border-hover: rgba(255, 0, 112, 0.4);
  --color-focus: rgba(219, 0, 255, 1);
  --bg-image-url: url(../images/cover-image-dark.png);
  --color-button: rgba(255, 0, 112, 1);
  --color-title-text: rgba(255, 0, 112, 1);
}
